<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="<shibmlp styleSheet/>" />
<title>POST Failed</title>
</head>

<body>

    <nav class="navbar navbar-default" role="navigation">

        <div class="navbar-header">
            <a class="navbar-brand" href="/">Reservation system</a>

            <!-- Collapsed menu -->
            <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle pull-left"
                style="padding-top: 4px; padding-bottom: 4px;">
                <span style="display: inline-block; margin-top: 5px;"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span>
                </span> <span style="display: inline-block; padding-top: 2px; vertical-align: top;"> &nbsp;Menu </span>
            </button>
        </div>
    </nav>

    <div class="container">
        <h1>POST Failed</h1>

        <p>
            You have attemped to submit information without the protection of SSL to this site.<br />
        </p>

        <p>
            For the protection of your submission and the integrity of the site, this is not permitted. Please try accessing the server with a URL
            starting with <strong>https://</strong> and report this problem to <a href="mailto:<shibmlp supportContact/>"><shibmlp supportContact /></a>
        </p>

    </div>
</body>
</html>
